---
self-contained: True
title: Midterm 1
author: Tuukka Jaakkola
date: '10/25/2023'
output: html
theme: darkly
---

In [108]:
import numpy as np
import pandas as pd

In [117]:
#Read CSV
mydata = pd.read_csv(r'C:\Users\tuke-\Desktop\1_GSB544_Computing_and_Machine_Learning\Midterm\data\national_park_trails.csv')

In [118]:
print(mydata.head())

   trail_id                        name                   area_name  \
0  10020048     Harding Ice Field Trail  Kenai Fjords National Park
1  10236086  Mount Healy Overlook Trail        Denali National Park
2  10267857          Exit Glacier Trail  Kenai Fjords National Park
3  10236076        Horseshoe Lake Trail        Denali National Park
4  10236082          Triple Lakes Trail        Denali National Park

              city_name state_name   country_name  \
0                Seward     Alaska  United States
1  Denali National Park     Alaska  United States
2                Seward     Alaska  United States
3  Denali National Park     Alaska  United States
4  Denali National Park     Alaska  United States

                                _geoloc  popularity     length  \
0  {'lat': 60.18852, 'lng': -149.63156}     24.8931  15610.598
1  {'lat': 63.73049, 'lng': -148.91968}     18.0311   6920.162
2    {'lat': 60.18879, 'lng': -149.631}     17.7821   2896.812
3    {'lat': 63.73661, 'lng': -148.915}     16.2674   3379.614
4  {'lat': 63.73319, 'lng': -148.89682}     12.5935  29772.790

   elevation_gain  difficulty_rating    route_type  visitor_usage  avg_rating  \
0       1161.8976                  5  out and back            3.0         5.0
1        507.7968                  3  out and back            1.0         4.5
2         81.9912                  1  out and back            3.0         4.5
3        119.7864                  1          loop            2.0         4.5
4       1124.7120                  5  out and back            1.0         4.5

   num_reviews                                           features  \
0          423  ['dogs-no', 'forest', 'river', 'views', 'water...
1          260  ['dogs-no', 'forest', 'views', 'wild-flowers',...
2          224  ['dogs-no', 'partially-paved', 'views', 'wildl...
3          237  ['dogs-no', 'forest', 'lake', 'kids', 'views',...
4          110  ['dogs-no', 'lake', 'views', 'wild-flowers', '...

                                          activities units
0  ['birding', 'camping', 'hiking', 'nature-trips...     i
1  ['birding', 'camping', 'hiking', 'nature-trips...     i
2                              ['hiking', 'walking']     i
3  ['birding', 'hiking', 'nature-trips', 'trail-r...     i
4  ['birding', 'fishing', 'hiking', 'nature-trips...     i

In [119]:
#Simple function to create a bool column for different values in the column that consist of a list
def bool_column(feature, data, list_column):
    data[feature] = data[list_column].apply(lambda x: 1 if feature in x else 0)
    return data

#mydata['dogs-no'] = mydata['features'].apply(lambda x: 1 if 'dogs-no' in x else 0)

In [120]:
#converting dogs-no feature to a bool column
mydata = bool_column('dogs-no', mydata, 'features')

#Convert _geoloc into numeric column for lat and lng
mydata['_geoloc'] = mydata['_geoloc'].apply(lambda x: x.replace(r"{", "").replace(r"}", ""))

mydata[['lat', 'lng']] = mydata['_geoloc'].str.split(',', expand=True)

mydata['lat'] = mydata['lat'].str.extract('(-?\d+\.\d+)', expand=False).astype(float)

mydata['lng'] = mydata['lng'].str.extract('(-?\d+\.\d+)', expand=False).astype(float)

In [125]:
print(mydata.dtypes)

trail_id               int64
name                  object
area_name             object
city_name             object
state_name            object
country_name          object
_geoloc               object
popularity           float64
length               float64
elevation_gain       float64
difficulty_rating      int64
route_type            object
visitor_usage        float64
avg_rating           float64
num_reviews            int64
features              object
activities            object
units                 object
dogs-no                int64
lat                  float64
lng                  float64
dtype: object